<ion-header>
  <ion-toolbar>
      <ion-title style="font-family: Georgia, 'Times New Roman', Times, serif"><ion-icon name="arrow-back" align="left" (click)="onBack()"></ion-icon><img class="l" src="../../assets/images/maths.jpg"/>MATHS ACADEMY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <iframe
    allow="microphone;"
    width="100%"
    height="100%"
    src="https://console.dialogflow.com/api-client/demo/embedded/ccab8f47-3566-4db4-bbd7-e069833c73b6">
</iframe>
</ion-content>
