<ion-header>
  <ion-toolbar>
      <ion-title style="font-family: Georgia, 'Times New Roman', Times, serif"><ion-icon name="arrow-back" (click)="onBack()"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp;MATHS ACADEMY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3 align="center">EXAM SCHEDULE</h3>
<table border="3">
  <th>batch name</th>
  <th>subject name</th>
  <th>date</th>
  <th>total marks</th>
  <tr *ngFor="let item of exam_sc_arr">
    <td>{{item.batch_name}}</td>
    <td>{{item.subject_name}}</td>
    <td>{{item.exam_date|date:"dd/MM/yyyy"}}</td>
    <td>{{item.marks}}</td>
  </tr>
</table>
<ion-button (click)="onExamResult()">results</ion-button>
<div *ngIf="flag">
    <table border="2">
        <tr>
      <th>subject name</th>
      <th>total marks</th>
      <th>marks obtained</th>
      <th>date</th>
      </tr>
      <tr *ngFor="let item of exam_arr">
        <td>{{item.subject_name}}</td>
        <td>{{item.marks}}</td>
        <td>{{item.marks_obtained}}</td>
        <td>{{item.exam_date|date:"dd/MM/yyyy"}}</td>
      </tr>
      </table>
</div>
<ion-button (click)="onBack()">BACK</ion-button>
</ion-content>

