.a
{
    border-collapse:collapse;
    //width:100%;
   margin-left: -10px;
}
tr:nth-child(even) {background-color: yellowgreen;}
  th,td{
    //width:auto;
    text-align: center;
    padding: 4px;
  }

  .c
  {
    
    margin-top: 20px;
    text-align: center;
    border: 1px solid black;
    margin-left: -25px;
    font-size:30px;
  }

  
 