 <ion-header>
        <ion-toolbar>
          <ion-title align="center" style="font-family: Georgia, 'Times New Roman', Times, serif" >MATHS ACADEMY</ion-title>
        </ion-toolbar>
      </ion-header> 
      
 
 <ion-content padding>
        
        <!-- <img src="http://localhost:3000/images/student_profile/{{student_image}}" alt="..." >
        
   <div  class="name"><ion-label>{{student_name}}</ion-label>  
    </div> -->
  <br>
  <div>
<div class="a" (click)="onMyProfile()"> <h1><ion-icon style="font-size: 50px;margin-left: 40px;" name="person"></ion-icon></h1><h4 style="margin-left:10px;">MY PROFILE</h4></div>
<div class="b" (click)="onAttendance()"> <h1><ion-icon name="people" style="font-size: 50px;margin-left: 40px; margin-top: 20px;"></ion-icon></h1><h4 style="margin-left: 10px;">ATTENDANCE</h4></div>
<div class="c" (click)="onNotice()"> <h1><ion-icon name="notifications" style="font-size: 50px;margin-left: 40px; margin-top: 20px;"></ion-icon></h1><h4 style="margin-left: 90px;margin-top:-25px;">NEWS/NOTICE BOARD/EVENTS</h4></div>
<div class="d" (click)="onSchedule()"> <h1><ion-icon name="calendar" style="font-size: 50px;margin-left: 50px; margin-top: 20px;"></ion-icon></h1><h4 style="margin-left: 25px;">SCHEDULE</h4></div>
<div class="e" (click)="onFees()"> <h1><ion-icon name="cash" style="font-size: 50px;margin-left: 50px; margin-top: 20px;"></ion-icon></h1><h4 style="margin-left: 50px;">FEES</h4></div>
<div class="f" (click)="onAssignment()"> <h1><ion-icon name="paper" style="font-size: 50px;margin-left: 50px; margin-top: 20px;"></ion-icon></h1><h4 style="margin-left: 120px;margin-top:-55px;">ASSIGNMENT</h4></div>
<div class="g" (click)="onDailyWork()"> <h1><ion-icon name="book" style="font-size: 50px;margin-left: 50px; margin-top: 20px;"></ion-icon></h1><h4 style="margin-left: 25px;">DAILYWORK</h4></div>
<div class="h" (click)="onExam()"> <h1><ion-icon name="school" style="font-size: 50px;margin-left: 50px; margin-top: 20px;"></ion-icon></h1><h4 style="margin-left: 50px;">EXAM</h4></div>
  </div>
  
      <!-- <div class="col-lg-3 col-md-6" (click)="onMyProfile()">
          <div class="counter py-4 px-3 bg1-theme">
            
             <i> <ion-icon name="person"></ion-icon></i>
              <p class="count-text text-capitalize">MY PROFILE</p>
              <div class="timer count-title count-number mt-2" data-to="9890" data-speed="1500"></div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-md-0 mt-sm-5 mt-3" (click)="onAttendance()">
          <div class="counter py-4 px-3 bg2-theme">
              <i> <ion-icon name="people"></ion-icon></i>
              <p class="count-text text-capitalize" >ATTENDANCE</p>
              <div class="timer count-title count-number mt-2" data-to="6799" data-speed="1500"></div>
          </div>
      </div>
<br>

      <div class="col-lg-3 col-md-6" (click)="onSchedule(item)">
          <div class="counter py-4 px-3 bg1-theme">
            
             <i> <ion-icon name="calendar"></ion-icon></i>
              <p class="count-text text-capitalize">SCHEDULE</p>
              <div class="timer count-title count-number mt-2" data-to="9890" data-speed="1500"></div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-md-0 mt-sm-5 mt-3" (click)="onNotice()" >
          <div class="counter py-4 px-3 bg2-theme">
              <i> <ion-icon name="notifications"></ion-icon></i>
              <p class="count-text text-capitalize">NOTICE</p>
              <div class="timer count-title count-number mt-2" data-to="6799" data-speed="1500"></div>
          </div>
      </div>


      <br>
    
      <div class="col-lg-3 col-md-6" (click)="onFees()" >
          <div class="counter py-4 px-3 bg1-theme">
            
             <i> <ion-icon name="cash"></ion-icon></i>
              <p class="count-text text-capitalize" >FEE</p>
              <div class="timer count-title count-number mt-2" data-to="9890" data-speed="1500"></div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-md-0 mt-sm-5 mt-3" (click)="onAssignment()">
          <div class="counter py-4 px-3 bg2-theme">
              <i> <ion-icon name="paper"></ion-icon></i>
              <p class="count-text text-capitalize">ASSIGNMENT</p>
              <div class="timer count-title count-number mt-2" data-to="6799" data-speed="1500"></div>
          </div>
      </div>

      <br>
      
        <div class="col-lg-3 col-md-6" (click)="onDailyWork()">
            <div class="counter py-4 px-3 bg1-theme">
              
               <i> <ion-icon name="book"></ion-icon></i>
                <p class="count-text text-capitalize">DAILYWORK</p>
                <div class="timer count-title count-number mt-2" data-to="9890" data-speed="1500"></div>
            </div>
        </div>

        
      <div class="col-lg-3 col-md-6 mt-md-0 mt-sm-5 mt-3"  (click)="onExam()">
          <div class="counter py-4 px-3 bg2-theme">
              <i> <ion-icon name="school"></ion-icon></i>
              <p class="count-text text-capitalize">EXAM</p>
              <div class="timer count-title count-number mt-2" data-to="6799" data-speed="1500"></div>
          </div>
      </div> -->

    </ion-content>
    <ion-tab-bar slot="bottom">

            <ion-tab-button tab="home">
              <ion-label>Home</ion-label>
              <ion-icon name="home"></ion-icon>
              <ion-badge>6</ion-badge>
            </ion-tab-button>
        
            <ion-tab-button tab="settings">
              <ion-label>Settings</ion-label>
              <ion-icon name="settings"></ion-icon>
            </ion-tab-button>
        
          </ion-tab-bar>







 
