img{
    border-radius: 50%;
    height: 120px;
    width:120px;
    
    
}
.name
{
    float: right;
    height:10%;
    width:50%;
   
    margin-top: 40px;
}
.a{
    border:2px solid #ee0fee;
    height:120px;
    width:140px;
    margin-top: -30px;
    margin-left:-17px;
    background-color:#ee0fee;
    
}
.b
{
    background-color:rgb(231, 15, 116);
    margin-top:-140px;
    height:120px;
    width:170px;
    margin-left: 130px;
}
.c{
    background-color:orange;
    margin-top:-15px;
    margin-left:-15px;
    width:290px;
    height:120px;   
}
.d
{
    background-color: skyblue;
    width:160px;
    height:120px;
    margin-left:-15px;
    margin-top:-15px;

}
.e{
    background-color: lightgreen;
    height: 120px;
    width: 150px;
    margin-top:-140px;
    margin-left: 150px;
}
.f
{
    background-color: darkolivegreen;
    width:290px;
    height:100px;
    margin-top:-15px;
    margin-left:-15px; 

}
.g
{
    background-color: crimson;
    width:160px;
    height: 120px;

    margin-top:-15px;
    margin-left:-15px; 
}
.h
{
    
        background-color: skyblue;
        height: 120px;
        width: 150px;
        margin-top:-140px;
        margin-left: 150px;
    
}

.material-icons{
    font-size: 50px;
    margin-left: 40px;
  }
  .material-icons1{
    font-size: 50px;
      margin-top: 50px;
  }