
    // ion-content
    // {
    //     --background:url('../../assets/images/p4.jpg');
        
    // }



// img{
//     width:50vh;
//     height:80vh;
//   }
.m
{
  margin:0;
  padding:0;
  background-image:url('../../assets/images/a3.jpg');
  background-size:cover;
  font-family:sans-serif;
  height:500px;
  width:300px;
  
}

.loginbox
{
  top:48%;
  position:relative;
  left:50%;
  transform: translate(-50%,-50%);
  width:250px;
  height:350px;
  padding: 8px 4px;
  box-sizing: border-box;
  opacity:0.5;
  

}

h2
{
   margin:0;
   padding: 0 20px;
   color:#1E90FF;
   text-align:center;

}

.loginbox input
{
   width:100%;
   margin-bottom:20px;
}

.loginbox input[type="text"], .loginbox input[type="password"]
{
   border:none;
   border-bottom: 1px solid #ffff;
   background:transparent;
   outline:none;
   height:10px;
   color:black;
   font-size:16px;
   
}
.l
{  
    width: 20%;
    height: auto;
    margin: 0 auto;
}
.k
{
    border:none;
	outline:none;
	height:40px;
	font-size:16px;
    border-radius:20px;
    margin-left:60px;
}

button:hover
{
	color:#262626;
	background:#efed40;
}	

.user
{ 
  position:absolute;
  width:100px;
  height:100px;
  overflow:hidden;
  margin-bottom:50px;
  left:calc(50% -50px);
  border-radius:50%;
  margin-left: 90px;
  margin-top:-20px;
} 


//     //   opacity: 0.5;
//     //   background: #000;
//     //   color: #fff;
  
//   }
