<ion-header>
  <ion-navbar>
      <ion-title>ABOUT US</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
      <img src="../../assets/img/IMG_20190413_213053.png">
      <ion-row>
          <ion-col>
              <button ion-button icon-left clear small color="light">
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>a</div>
              </button>
          </ion-col>
          <ion-col>
              <button ion-button icon-left clear small color="light">
              <ion-icon name="md-eye"></ion-icon>
                  <div>a</div>
              </button>
          </ion-col>
          <ion-col center text-center>
              <button ion-button icon-left clear small color="light">
                  <ion-icon name="md-pin"></ion-icon>
               </button>
          </ion-col>

          <ion-col center text-center>
              <button ion-button icon-left clear small color="light">
                  <ion-icon name="share"></ion-icon>
               </button>
          </ion-col>
      </ion-row>
      <ion-item>
          <ion-icon color="green" name="information" item-left large></ion-icon>
          <p>
              ABOUT OUR ACADEMY
          </p>
      </ion-item>
      <ion-card-content>
          <p>
            MATHS ACADEMY  a brain child of PRACHI GOVIL has been imparting knowledge since last 15 years to students of ahmedabad. with a razor point focus on making the child understand the concept
            and the logic of various mathematical problems and topics. Students find maths to be very tough and have fear of maths. But the fear of maths goes only with regular practice. once you start
            getting the subjectyou start enjoying it. Ours is a boutique academy aiming at excellenece and have produced school toppers from various schools.
          </p>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
          <b>Gallery</b>
      </ion-card-header>
      <ion-item>
          <ion-slides pager>
              <ion-slide>
                  <img src="../../assets/img/IMG_20190413_213108.png">
              </ion-slide>
              <ion-slide>
                  <img src="../../assets/img/IMG_20190413_213121.png">
              </ion-slide>
          </ion-slides>
      </ion-item>
  </ion-card>
  <ion-card>
      <ion-card-header>
        SOME CLIPS OF OUR ACADEMY
      </ion-card-header>
      <ion-item text-wrap>
          <ion-icon name="book" color="primary" item-left large></ion-icon>
          <h2>THE BEAUTIFUL AMBIENCE THAT WE PROVIDE TO OUR STUDENTS.</h2>
          <p>5 min ago</p>
      </ion-item>
  </ion-card>




</ion-content>
