
<ion-header>
    
  <ion-toolbar>
   
    <ion-title style="font-family: Georgia, 'Times New Roman', Times, serif"><ion-icon name="arrow-back" slign="left" (click)="onBack()"></ion-icon><img class="l" src="../../assets/images/maths.jpg"/>MATHS ACADEMY</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content padding >

    
  <div class="a">
  <ion-row>
    
    <ion-col class="b">
      <!-- <ion-button style="width:100%">paid fees</ion-button> -->
      <ion-button color="medium" (click)="ontotalfees()"  style="width:90%;color:black;">TOTAL FEES</ion-button>
    </ion-col>
    <ion-col class="b">
        <ion-button color="medium" (click)="onremainingfees()" style="width:90%">FEES PAID</ion-button>
      <!-- <ion-button style="width:100%">due fees</ion-button> -->
    </ion-col>
   
  

</ion-row> 
</div>

<div *ngIf="flag" class="c">
  <h1 align="center" style="color:rgb(242, 236, 248);margin-top:2px;" >TOTAL FEES</h1>
  <table class="a1">
    <tr>
      <th>NAME</th>
      <th>TOTAL FEES</th>
      <th>PAID FEES</th>
    </tr>
    <tr>
        <td>{{student_name}}</td>
      <td>{{total_fees}}</td>
      
      <td>{{paid_amount}}</td>
    </tr>
  </table>
  
</div>
<div *ngIf="flag1" class="c">
    <h1 align="center" style="color:rgb(242, 236, 248);margin-top:2px;" > REMAINING FEES  </h1>
  <table  class="a1">
    <th>DATE</th>

    <th>AMOUNT</th>


    <tr *ngFor="let item of arr">
    <td>{{item.fees_date | date:"dd/MM/yyyy"}}</td>

    <td>{{item.amount}}</td>


    </tr>
    </table>  
</div>

</ion-content>



<!-- <ion-content>
   <ion-row>
    
      <ion-col>
        <ion-button style="width:100%">paid fees</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width:100%">due fees</ion-button>
      </ion-col>
     
    
  
</ion-row> 


</ion-content> -->

