.a{
    height:80px;
    width:100px;
    margin-left:60px;
}
.b{
    color:black;
    margin-left:60px;
}

.c{
    --background: url('../../assets/images/watermark.jpg') no-repeat center center fixed;
        background-size: cover;    
        opacity: 0.5;
        text-align: center;
}