<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: Georgia, 'Times New Roman', Times, serif"><ion-icon name="arrow-back" align="left" (click)="onBack()"></ion-icon><img class="l" src="../../assets/images/maths.jpg"/>MATHS ACADEMY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="c">
  <!-- <ion-button *ngFor="let item of subject_arr" (click)="onDailyWork(item.subject_id)">{{item.subject_name}}</ion-button> -->
  
  <ion-button  color="success" *ngFor="let item of subject_arr" (click)="onClick(item)">{{item.subject_name}}</ion-button>
  
   <div>
    <ion-card *ngFor="let item of display_arr">
      
          
            
    <!-- <object width=100% height=100% data="{{item.pdf}}"></object> -->
  
    <!-- <a class="b"><ion-icon name="download" class="a" src="{{dailypdf}}/images/dailywork/{{item.pdf}}"></ion-icon></a> -->
    <!-- <a href="{{dailypdf}}/images/dailywork/{{item.pdf}}" cla-ss="b" target="_parent"><ion-icon name="download" class="a"></ion-icon></a> -->

             <!-- <ion-button (click)="onlciklink(item)">xyz</ion-button> -->
             <ion-icon name="download" class="a" (click)="onlciklink(item)"></ion-icon>

            
            
            <h4 align="center">DATE:{{item.daily_date | date:"dd/MM/yyyy"}}</h4>
    
            
          
    
      
    </ion-card>
    </div>
  </ion-content>
