<ion-header>
  <ion-toolbar>
    <ion-title align="center">NOTICE</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-card *ngFor="let item of notice_arr">


        <ion-card-header >
          <ion-card-title>{{item.notice_name}}</ion-card-title>
          <ion-card-title>STANDARD:{{item.standard_no}}</ion-card-title>
        </ion-card-header>
        <ion-item>
           <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
            <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
            <ion-button (click)="onClick(item)" fill="outline" slot="end">DESCRIPTION</ion-button>
            
          </ion-item>
  
        <!-- <ion-card-content>
        vidhi
        </ion-card-content> -->
      </ion-card>
      
      <ion-button (click)="onBack()">BACK</ion-button>           
</ion-content>
