// .c{
//     --background: url('../../assets/images/watermark.jpg') no-repeat center center;
//         background-size: cover;   
//         opacity:0.5;
//         text-align: center;
//     }
.l
{  
    width: 20%;
    height: auto;
    margin: 0 auto;
}