<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: Georgia, 'Times New Roman', Times, serif"><ion-icon name="arrow-back" slign="left" (click)="onBack()"></ion-icon><img class="l" src="../../assets/images/maths.jpg"/>MATHS ACADEMY</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="c">
    <ion-card *ngFor="let item of notice_arr">


        <ion-card-header style="text-align:center;font-family: Georgia, 'Times New Roman', Times, serif;">
          <ion-card-title>{{item.notice_name}}</ion-card-title>
          <ion-card-title>STANDARD:{{item.standard_no}}</ion-card-title>
        </ion-card-header>
        <ion-item>
           <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
            <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
            <ion-button (click)="onClick(item)" fill="outline" slot="end">DESCRIPTION</ion-button>
            
          </ion-item>
  
        <!-- <ion-card-content>
        vidhi
        </ion-card-content> -->
      </ion-card>       
</ion-content>
