
<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>MENU</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
       

            <ion-menu-toggle auto-hide="false" >
                <ion-item [routerDirection]="'root'" routerLink="/aboutus">
                  <ion-label>
                   
                   ABOUT US
                  </ion-label>
                </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false" >
                    <ion-item [routerDirection]="'root'" routerLink="/help">
                      <ion-label>
                       
                      CONTACT US
                      </ion-label>
                    </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false" >
                        <ion-item [routerDirection]="'root'" routerLink="/contact-us">
                          <ion-label>
                           
                        HELP
                          </ion-label>
                        </ion-item>
                        </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false" >
                        <ion-item [routerDirection]="'root'" routerLink="/studentfrontdisplay">
                          <ion-label>
                           HOME
                           
                          </ion-label>
                        </ion-item>
                        </ion-menu-toggle>
            
    

            

                    <ion-menu-toggle auto-hide="false" >
                        <ion-item [routerDirection]="'root'" routerLink="/login">
                          <ion-label>
                           LOG OUT
                           
                          </ion-label>
                        </ion-item>
                        </ion-menu-toggle>
            
        </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>


