.l
{  
    width: 20%;
    height: auto;
    margin: 0 auto;
}
.c
{
  height:40px;
  width:270px;
  margin-left: 5px;
  //margin-top: 20px;
  //text-align: center;
  //border: 1px solid black;
  background-color:#109bdc;
}
