<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>{{viewTitle}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <calendar [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onTimeSelected($event)"
  step="30"
  class="calendar"></calendar>

</ion-content> -->








<ion-header>
        <ion-toolbar>
          <ion-title>ATTENDENCE</ion-title>
        </ion-toolbar>
        <ion-title>{{viewTitle}}</ion-title>
        
     
</ion-header>
<ion-content class="has-header">
    <calendar 
              [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              step="30">
    </calendar>
    <ion-button (click)="onBack()">BACK</ion-button>
</ion-content>


