.c{
    --background: url('../../assets/images/20190413_134153.jpg') no-repeat center center fixed;
        background-size: cover;   
        opacity:10%;
        text-align: center;
}

.alldayeventindayview
{
    overflow:hidden;
    background-color:red;
    color:white;
    height:auto;
    width:auto;
    padding:0;
}
.d{
background-color: red;
}
.monthview-selected[_ngcontent-c6] {
    background-color: hsl(343, 100%, 30%);
    color: white;
}

.l
{  
    width: 20%;
    height: auto;
    margin: 0 auto;
}