<ion-header>
  <ion-toolbar>
    <ion-title align="center">ASSIGNMENT</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="c">
    <!-- <ion-button *ngFor="let item of subject_arr" (click)="onAssignment(item.subject_id)">{{item.subject_name}}</ion-button> -->
    <ion-button color="success" *ngFor="let item of subject_arr" (click)="onClick()" style="opacity:unset;">{{item.subject_name}}</ion-button>
  <div *ngIf="flag">
    <ion-card *ngFor="let item of display_arr">
      
          <ion-icon name="download" class="a"></ion-icon>
          <a class="b" href="http://localhost:3000/images/assignment/{{item.assignment_pdf}}" target="_self"> <h4 class="o"> SUBMISSION-DATE:{{item.submisson_date | date:"MM/dd/yyyy"}}</h4><br>TITLE:{{item.title}}</a>
            
          
    
      
    </ion-card>
    </div>
</ion-content>  
