.a{
    height:80px;
    width:100px;
    margin-left:60px;
}
.b{
    color:black;
    margin-left:30px;
}
.c{
    --background: url('../../assets/images/20190413_134153.jpg') no-repeat center center fixed;
        background-size: cover;   
        opacity:10%;
        text-align: center;
}
.o
{

 color:black;
 font-weight: bolder;
}