.a{
    height:80px;
    width:100px;
    margin-left:2px;
}
.b{
    color:black;
    margin-left:30px;
}
.c{
   
       // background-size: cover;   
        //opacity:0.5;
        text-align: center;
}
.o
{

 color:black;
 font-weight: bolder;
}
.l
{  
    width: 20%;
    height: auto;
    margin: 0 auto;
}